body{
    background-color: rgb(167, 148, 246);
    padding-top: 80px;
    font-family: "Helvetica", "Arial", sans-serif;
    text-align: center;
}

.image img{
    height: 250px;
}

body p{
    font-weight: bold;
}